  .avatar {
      width: 38px;
      height: 38px;
      border-radius: 40px;
      background-color: #007AFF;
      align-items: center;
      justify-content: center;
      margin-bottom: 4px;
      text-decoration: none !important;
  }

  .avatarText {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      color: #fff;
  }